MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/poolify
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxx
JWT_SECRET=change_me_64_char_random_hex
JWT_REFRESH_SECRET=change_me_64_char_random_hex_different
MAPBOX_TOKEN=pk.eyJ1...
CLIENT_URL=http://localhost:8081
PORT=3000
MATCHING_PROVIDER=geo
NODE_ENV=development
